@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;900&display=swap');

body {
  background: $bg;
  color: $color;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
input {
  font-size: 1.25rem;
}
.inner {
  // max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 3em;
}

.form-container {
  padding-top: 2em;
  padding-bottom: 1em;
  max-width: 529px;
  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    input {
      font-size: 1rem;
      padding: 1em;
      border-radius: 4px;
      border: 1px solid #000;
    }
    button[type='submit'] {
      background: $color1;
      color: #fff;
      border: none;
      padding: 1em;
      border-radius: 4px;
      font-size: 1.25rem;
      font-weight: 700;
    }
    .file-upload {
      padding: 1em;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      font-size: 1.25rem;
      position: relative;
      .file-name {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
      }
      input {
        width: 1px;
        height: 1px;
        opacity: 0;
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
    }
    .file-upload.on {
      background: $color2;
    }
  }
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.ct-container {
  padding-top: 2em;
  padding-bottom: 1em;
  max-width: 769px;
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 140px;
  margin: 0 auto;
  img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid $bg;
  }
  input {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }
  i {
    position: absolute;
    background: $color2;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    bottom: 5%;
    right: 0%;
  }
}
.profile-name {
  position: relative;
  input {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    margin-top: 0.5em;
    border: none;
    width: 100%;
    background: transparent;
    color: $color;
    pointer-events: none;
    padding: 0.5em;
    box-sizing: border-box;
  }
  i {
    position: absolute;
    right: 1em;
    top: 60%;
    transform: translateY(-50%);
    color: $color2;
  }
}

.comments-container {
  padding: 2em 0;
}

.no-list {
  text-align: center;
  opacity: 0.5;
}
