.video {
  .thumnail {
    padding-bottom: 56.25%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .video__info {
    padding: 0.5em;
    .video__title {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 0.5em;
    }
    .video__info__sub {
      font-size: 12px;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      .video__creator {
        display: flex;
        align-items: center;
        gap: 0.5em;
        margin-top: 0.5em;
        .creator-photo {
          width: 30px;
          height: 30px;
          overflow: hidden;
          border-radius: 50%;
        }
      }
      .video__views {
        text-align: right;
        opacity: 0.5;
      }
    }
  }
}
