extends base
block content
  h1 Watch
  hr
  div 
    h2.title=video.title 
    p.description=video.description
  hr
  ul
    li 
      a(href=`${routes.editVideo(video.id)}`) Edit Video 
    li 
      a(href=`${routes.deleteVideo(video.id)}`) Delete Video 