extends ../base
block content
  .form-container.inner
    h2 패스워드 수정
    form(method="POST")
      input(type="password" name="prevPassword" placeholder="현재 암호를 입력해주세요." required)
      hr
      input(type="password" name="password" placeholder="변경할 암호를 입력해주세요." required)
      input(type="password" name="password2" placeholder="변경할 암호를 다시 한번 입력해주세요." required)
      button(type="submit") 변경하기