extends ../base
block content
  .ct-container.inner
    h2 프로필 수정
    form#profileForm(method="POST" enctype="multipart/form-data" ).profile-form-container
      label.profile-img
        img#photoImg(src=`${currentUser.photoUrl || noProfile}`)
        input#photoInput(type="file" name="photo" accept="image/gif, image/jpeg, image/png")
        i.fa-solid.fa-pen
      .profile-name 
        label 
          input#displayNameInput(type="text" name="displayName" value=currentUser.displayName max="10" data-value=currentUser.displayName)
          i.fa-solid.fa-pen
      button(type="submit") 변경하기

block scripts
  script(src="/static/js/profile.js") 